<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>l1</key>
	<string>B CN 8528</string>
	<key>l2</key>
	<string>B CN 8528</string>
	<key>l3</key>
	<string>B CN 8528</string>
	<key>l4</key>
	<string>B CN 8528</string>
	<key>l5</key>
	<string>B CN 8528</string>
	<key>l6</key>
	<string>B CN 8528</string>
	<key>l7</key>
	<string>B SB 6033</string>
	<key>l8</key>
	<string>B CN 8528</string>
	<key>l9</key>
	<string>B CN 8528</string>
	<key>l10</key>
	<string>B MD 2052</string>
	<key>l11</key>
	<string>B MD 2052</string>
	<key>l12</key>
	<string>B VW 5833</string>
	<key>l13</key>
	<string>B MD 2052</string>
	<key>l14</key>
	<string>B SB 6033</string>
	<key>l15</key>
	<string>B MD 2052</string>
	<key>l16</key>
	<string>B SB 6033</string>
	<key>l17</key>
	<string>B SB 6033</string>
	<key>l18</key>
	<string>B VW 5833</string>
	<key>l19</key>
	<string>B VW 5833</string>
	<key>l20</key>
	<string>B VW 5833</string>
	<key>l21</key>
	<string>B PN 273</string>
	<key>l22</key>
	<string>B PN 273</string>
	<key>l23</key>
	<string>B PN 273</string>
	<key>l24</key>
	<string>B PN 273</string>
	<key>l25</key>
	<string>B PN 273</string>
	<key>l26</key>
	<string>B PN 273</string>
	<key>l27</key>
	<string>B EK 1407</string>
	<key>l28</key>
	<string>B EK 1407</string>
	<key>l29</key>
	<string>B EK 1407</string>
	<key>l30</key>
	<string>B EK 1407</string>
	<key>l31</key>
	<string>B WA 9493</string>
	<key>l32</key>
	<string>B WA 9493</string>
	<key>l33</key>
	<string>B WA 9493</string>
	<key>l34</key>
	<string>B WA 9493</string>
	<key>l35</key>
	<string>B WA 9493</string>
	<key>l36</key>
	<string>B WA 9493</string>
	<key>l37</key>
	<string>B WA 9493</string>
	<key>l38</key>
	<string>B WA 9493</string>
	<key>l39</key>
	<string>B WA 9493</string>
	<key>l40</key>
	<string>B WA 9493</string>
	<key>l41</key>
	<string>B WA 9493</string>
	<key>l42</key>
	<string>B WA 9493</string>
	<key>l43</key>
	<string>B WA 9493</string>
	<key>l44</key>
	<string>B WA 9493</string>
</dict>
</plist>
